<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block meta_title %}{{ block('title') }}{% endblock %} - Zenstruck Sandbox</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
            <link href="{{ asset('vendor/ivaynberg/select2/select2.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/zenstruckdashboard/css/twitter.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% render "zenstruck_dashboard.controller:menuAction" %}
        <div class="container">
            <h1>{{ block('title') }}</h1>
            {% block body %}{% endblock %}

            <div id="footer" class="text-center">
                <hr />
                <p class="text-center" style="margin-bottom: 7px;"><a href="https://github.com/kbond/sandbox">View the source for this site on Github</a></p>
                <hr />
                <p>
                    &copy; Copyright {{ "now"|date('Y') }} Kevin Bond. Powered by
                    <a href="http://symfony.com/">Symfony</a>
                    and
                    <a href="http://www.doctrine-project.org/">Doctrine</a>.
                    Hosted with
                    <a href="http://servergrove.com/">ServerGrove</a>.
                </p>
            </div>
        </div>
        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
            <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
            <script src="{{ asset('vendor/ivaynberg/select2/select2.js') }}"></script>
            <script src="{{ asset('bundles/zenstruckform/js/helper.js') }}"></script>
            <script src="{{ asset('bundles/zenstruckdashboard/js/helper.js') }}"></script>
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
