<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="include_mode" content="async" />
        <title>{% block meta_title %}{{ block('title') }}{% endblock %} - Zenstruck Sandbox</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {% stylesheets output='_static/css/style.css' filter='cssrewrite,?uglifycss'
                'vendor/bootstrap/docs/assets/css/bootstrap.css'
                'vendor/bootstrap/docs/assets/css/bootstrap-responsive.css'
                'vendor/select2/select2.css'
                'vendor/fancybox/source/jquery.fancybox.css'
                'bundles/zenstruckdashboard/css/bootstrap2.css'
                'bundles/zenstruckmedia/css/twitter.css'
                'bundles/zenstruckdatagrid/css/twitter.css'
                'css/style.css'
            %}

                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        {{ zenstruck_menu() }}
        <div class="container">
            <h1>{{ block('title') }}</h1>

            {{ zenstruck_breadcrumbs() }}

            {% for type, flashMessages in app.session.flashBag.all %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% block content %}{% endblock %}{% endblock %}

            <div id="footer" class="text-center">
                <hr />
                <p class="text-center" style="margin-bottom: 7px;"><a href="https://github.com/kbond/sandbox">View the source for this site on Github</a></p>
                <hr />
                <p>
                    &copy; Copyright {{ "now"|date('Y') }} Kevin Bond. Powered by
                    <a href="http://symfony.com/">Symfony</a>
                    and
                    <a href="http://www.doctrine-project.org/">Doctrine</a>.
                    Hosted with
                    <a href="http://servergrove.com/">ServerGrove</a>.
                </p>
            </div>
        </div>
        {% block javascripts %}
            <script type="text/javascript">
                var CKEDITOR_BASEPATH = '/ext/ckeditor/';
            </script>

            {% javascripts output='_static/js/script.js' filter='?uglifyjs2'
                '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js'
                'vendor/bootstrap/docs/assets/js/bootstrap.js'
                '//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js'
                'vendor/ngUpload/ng-upload.min.js'
                'bundles/zenstruckmedia/js/app.js'
                'vendor/hinclude/hinclude.js'
                'vendor/select2/select2.js'
                'ext/ckeditor/ckeditor.js'
                'vendor/fancybox/source/jquery.fancybox.js'
                'bundles/zenstruckform/js/helper.js'
                'bundles/zenstruckdashboard/js/helper.js'
                'bundles/zenstruckmedia/js/widget.js'
                'bundles/zenstruckmedia/js/fancybox.widget.js'
                'js/script.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
