{% extends '::base.html.twig' %}

{% block title %}Media Manager{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/zenstruckmedia/css/twitter.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="zenstruck-media">
        <div class="btn-toolbar">
            <div class="btn-group">
                {% if path %}
                    <a class="btn btn-small" href="{{ path('zenstruck_media_list', { 'path': paths[0:paths|length-1]|join('/') }) }}"><i class="icon-arrow-left"></i></a>
                {% else %}
                    <span class="btn btn-small disabled"><i class="icon-arrow-left"></i></span>
                {% endif %}
            </div>

            <div class="btn-text">
                {% if path %}
                    <a href="{{ path('zenstruck_media_list') }}"><em>root</em></a>
                {% endif %}
                /
                {% set prev_path = [] %}
                {% for dir in paths %}
                    {% set prev_path = prev_path|merge([dir]) %}
                    {% if not loop.last %}
                        <a href="{{ path('zenstruck_media_list', { 'path': prev_path|join('/') }) }}">{{ dir }}</a> /
                    {% else %}
                        {{ dir }}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="btn-group">
                <a class="btn btn-small" data-toggle="modal" href="#zenstruck-media-mkdir"><i class="icon-folder-open"></i> New</a>
                <a class="btn btn-small"><i class="icon-upload"></i> Upload</a>
            </div>
        </div>
        <hr />

        {% include 'ZenstruckMediaBundle:Twitter:_table.html.twig' with { 'dirs': dirs, 'files': files, 'path': path } %}

        <div id="zenstruck-media-mkdir" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Make Directory</h3>
            </div>
            <form method="post" action="{{ path('zenstruck_media_mkdir', { 'path': path }) }}" class="form-horizontal">
                <div class="modal-body">
                    <div class="control-group">
                        <label class="control-label" for="zenstruck-media-new-folder-name">Directory Name</label>
                        <div class="controls">
                            <input type="text" name="dir_name" id="zenstruck-media-new-folder-name" autofocus="autofocus">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                    <input type="submit" class="btn btn-primary" value="Create" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}